body{
  background: url('../images/city-lights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.heading{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 8%;
}

.heading-one{
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  color: #000;
  display: inline-block;
  position: relative;
  width: 59%;
  text-align: right;
  visibility: hidden;
}

.heading-two{
  display: inline-block;
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  color: #000;
  position: relative;
  width: 40%;
  text-align: left;
  visibility: hidden;
}

h2{
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
}

h3{
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
}

.container{
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 70%;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
  position: relative;
  width: 90%;
  height: 85%;
  bottom: 20%;
  margin-top: 12%;
  margin-left: 10%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*visibility: hidden;*/
}


.inner{
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.inner.main{
  visibility: hidden;
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inner-content{
  position: relative;
  height: 90%;
  width: 100%;
}

.other-links{
  position: relative;
  height: 15%;
  width: 100%;
  word-spacing: 15px;
}

.contactlink{
  text-decoration: none;
}

.contactlink:hover{
  font-weight: bolder;
  cursor: pointer;
}

.screenshots{
  position: absolute;
  display: inline-block;
}

.screenshot{
  position: relative;
  width: 40%;
  margin-right: 5%;
  display: inline-block;
}

p{
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
  line-height: 200%;
}

.number{
  text-align: center;
  position: relative;
  bottom: 80%;
  width: 5%;
  height: 12%;
  line-height: 400%;
  visibility: hidden;
  -webkit-transition: visibility 2s ease-in;
}

.number:hover {
  background-color: rgba(65, 61, 61, 0.93);
  color: #FFF;
  cursor: pointer;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  html{
    min-height: 100%;
  }
  .container{
    margin-top: 15%;
  }
  .content{
    bottom: 0;
  }
  .heading{
    padding-top: 10%;
  }
  .heading-one, .heading-two{
    font-size: 3em;
  }
  p {
    font-size: 2em;
    padding-right: 15%;
  }
  .logo-links {
    width: 50px !important;
    padding-right: 15%;
  }
  .other-links {
    bottom: 15%;
  }
  .number{
    font-size: 2em;
    bottom: 50%;
    height: 5%;
    line-height: 200%;
    padding-left: 2%;
  }
  .screenshots{
    display: block;
  }
  .screenshot{
    display: block;
    padding-top: 5%;
  }
  .website-image{
    padding-top: 5%;
    min-width: 350px;
  }
  .inner {
    padding-left: 7%;
    padding-right: 7%;
  }
  .vertical {
    margin-left: 10% !important;
  }
  @keyframes topToBottom {
      0%   {
        margin-top: 0;
        height: 50%;
      }
      100% {
        margin-top: 110%;
        height: 7%;
      }
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  p {
    line-height: 120% !important;
  }
  @keyframes topToBottom {
    0%   {
      margin-top: 0;
      height: 50%;
    }
    100% {
      margin-top: 40%;
      height: 12%;
    }
  }
}
